#movies img, #movie img {
    width: 100%;
}

@media(min-width: 960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }
}

#featured img, #featured img {
    width: 100%;
}

.img-rounded {
    border-radius: 25px;
}

h5 {
    display:inline;
}

#orangeJumb {
    background-color: green;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

a {
    color: white;
    display: block;
}